
  <div class="text-center">
    <img class="logo-home" src="/img/EH_Logo01_2019.png">
  </div>

  <p>
    This is currently a beta version of an app that is under construction. Please relay any bugs or defects to: developers@edgehim.com<br>
    Ver 1.0.0
  </p>

  <div class="row">
    <div class="col-6">
      <a href="/users/register" role="button" class="btn btn-danger btn-block">Register</a>
    </div>

    <div class="col-6">
     <a href="/users/login" role="button" class="btn btn-success btn-block">Login</a>
    </div>
  </div>
