<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="register-box card card-body text-center">
      <h3 class="text-center">Reset Password</h3>
      <p class="black" style="margin-bottom:0px">Submit your information below and a email will be sent to reset your password</p>
      <hr style="border-color: black; width: 100%" />
      <form method="post" action="/users/reset-password">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-danger">Reset Password</button>
      </form>
    </div>
  </div>
</div>