<div class="row">
  <div class="col-md-6 offset-md-3 mx-auto white text-center">
    <h3 class="text-center">Create a New Password</h3>    
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3 mx-auto white">
    <form style="width: 100%" method="POST" action="/users/reset-change-password">
      <div class="form-group" >
        <input type="hidden" name="key" value={{key}} >
        <input type="hidden" name="email" value={{email}} >
        <label for="new_password">New Password</label>
        <input type="password" name="new_password" class="form-control" >
        <br>
        <label for="confirm_new">Confirm new Password</label>
        <input type="password" name="confirm_new" class="form-control" >
        <br>
        <button type="submit" class="btn btn-danger">Submit</button>   
      </div>
    </form>
  </div>
</div>